@use "variables" as *;

h1{
    font-size:64px;
    font-weight:700;
    line-height:1.1;
}

h2{
    font-size:48px;
    font-weight:700;
}

h3{
    font-size:32px;
    font-weight:600;
}

p{
    color:$text-light;
    line-height:1.8;
    font-size:16px;
}