.loader-wrapper{

position:fixed;

inset:0;

background:white;

display:flex;

justify-content:center;

align-items:center;

z-index:99999;

animation:fadeOut .5s ease forwards;

animation-delay:1.8s;

}

.loader-content{

text-align:center;

}

.loader-ring{

width:90px;

height:90px;

border-radius:50%;

border:6px solid #dbeafe;

border-top-color:#2563eb;

animation:spin 1s linear infinite;

margin:auto;

margin-bottom:35px;

}

.loader-content h1{

font-size:42px;

font-weight:800;

background:linear-gradient(
90deg,
#2563eb,
#06b6d4
);

-webkit-background-clip:text;

color:transparent;

margin-bottom:12px;

}

.loader-content p{

color:#6b7280;

font-size:17px;

}

@keyframes spin{

100%{

transform:rotate(360deg);

}

}

@keyframes fadeOut{

to{

opacity:0;

visibility:hidden;

}

}