<section class="portfolio" data-aos="fade-up">

  <div class="container">

    <div class="section-header">
      <span>Portfolio</span>
      <h2>Featured Projects</h2>
      <p>
        Explore some of our latest digital products and client work.
      </p>
    </div>

    <div class="portfolio-grid">

  @for(project of portfolioItems; track project.title){

  <article class="project-card">

    <div class="project-image">

      <img
        [src]="project.image"
        [alt]="project.title">

    </div>

    <div class="project-content">

      <span>{{ project.category }}</span>

      <h3>{{ project.title }}</h3>

      <button>View Project →</button>

    </div>

  </article>

  }

</div>

  </div>

</section>